<div class="container-fluid" id="articleContainer">
  <div class="row">
    {{#each art}}
      <div class="card col-3" id="card{{_id}}" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="{{link}}"/>{{link}}</a></h6>
          <p class="card-text">{{summary}}</p>
          <a href="#" class="btn btn-primary" id="saveArtBtn" data-id="{{_id}}">Save Article</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>
