<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>Saved Articles</p>
  </div>
</div>
<div class="container-fluid" id="savedArticleContainer">
  <div class="row">
    {{#each savedArt}}
      <div class="card col-12 col-sm-6 col-md-4 col-xl-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="{{link}}"/>{{link}}</a></h6>
          <p class="card-text">{{summary}}</p>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#noteModal{{this._id}}" id="addNote" data-id="{{_id}}">Add Note</button>
            {{>modal/modal-block}}
          <button type="button" class="btn btn-danger" data-id="{{_id}}" id="deleteSavedArt">Remove Article</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>


